/*.vidcont, introcont {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/
/*.iframe{*/
/*  width: 200px;*/
/*}*/

/*body,*/
/*html {*/
/*    height: 100%;*/
/*    width: 100%;*/
/*}*/
/*body{*/
/*    display: table;*/
/*    height:100%;*/
/*    width: 100%;*/
/*    overflow: hidden;*/
/*}*/

.question{
	font-weight: 600;
}
.answers {
  margin-bottom: 20px;
}
.answers label{
  display: block;
}